html,body {
    height: 100%;
}
body {
    display: table;
    width: 100%;
}

.custom-control-input:focus ~
.custom-control-label::before {
  border-color: #ffcc00 !important;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

.custom-control-input:checked ~
.custom-control-label::before {
    border-color: #ffcc00 !important;
    background-color: #ffcc00 !important;
}

.custom-control-input:active ~
.custom-control-label::before {
    background-color: #ffcc00 !important;
    border-color: #ffcc00 !important;
}

.custom-control-input:focus:
not(:checked) ~ .custom-control-label::before {
    border-color: #ffcc00 !important;
}

.my_anketa{
    height: 100vh;
    background-image: url("../images/fon.png");
    background-position: center;
    background-size: cover;
    display: flex;
}

#btn_send {
    color: black;
    border: 1px solid #ffcc00;
    background: rgba(255, 204, 0, 0.8);
    font-style: italic;
    font-size: 25px;
    display: flex;
    margin: auto;
    margin-top: 30px;
}

#btn_send:hover {
    background: #ffcc00;
}

#anketa_content {
    margin-top: 5%;
    display: table;
    margin: auto;
}

.align {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.my_table {
    display: inline-block;
    width: auto;
    margin: 0 auto;
}

.card-body {
    font-size: 20px;
}

.answer{
    height: 100vh;
    background-image: url("../images/fon.png");
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.link {
    color: black;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
}

.link:hover {
    color: #ffcc00;
    background-color: black;
}

.overlay2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    display: flex;
}

.text {
    background: green;
    width: 100%;
    margin: auto;
}

.white_fon {
    background-image: url("../images/white_fon.jpg");
}
