
.title1 {
    font-size: 45px;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    font-family: Helvetica;
    text-align: center;
}

.title {
     color: #111;
     font-family: Helvetica;
     /*font-style: italic;*/
     font-size: 32px;
     font-weight: 500;
     line-height: 48px;
     margin: 0 0 24px;
     padding: 0 30px;
     text-align: center;
     text-transform: uppercase;
}

.line {
    border-top: 1px solid #111;
    display: block;
    margin-top: 60px;
    padding-top: 50px;
    position: relative;
}

.text {
    color: #111;
    font-family: Helvetica;
    font-size: 22px;
    margin: 0 0 48px;
    padding-left: 5%;
    padding-right: 5%;
    text-indent: 20px;
    line-height: 2.0;
}

.article {
    width: 100%;
    min-height: 100vh;
    text-align: justify;
    background-image: url("../images/fon.png");
    /*background: url("../images/cuFXgiuVl20.jpg") center round,
                rgba(0, 0, 0, .5) center round;*/
    background-repeat: round;
    background-color: #eee;

}

.rightimg  {
    float: right; /* Выравнивание по правому краю  */
    margin: 0; /* Отступы вокруг картинки */
    height: 15rem;
}

.link {
    color: black;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
}

.link:hover {
    color: #ffcc00;
    background-color: black;
}
