.navbar {
    background: rgba(0, 0, 0, .6);
}

.nav-link , .navbar-brand{
     color: white;
     cursor: pointer;
     font-size: 18px;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    color: #ffcc00;
    text-shadow: 0 1px black, 0 0 0 rgb(0, 0, 0);

}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background:#ffcc00; !important;
}

body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica";
}

.header {
    height: 100vh;
    background-image: url("../images/rg4.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;

}

.header-title {
    font-size: 65px;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    font-style: italic;

    margin_top: 30%;
    font-family: Helvetica;

}

#btn1 {
    color: black;
    border: 1px solid #ffcc00;
    background: rgba(255, 204, 0, 0.8);
    font-style: italic;
    font-size: 25px;
}

.description {
    font-size: 35px;
    color: white;
    font-weight: 500;
    margin-top: 0;
    font-style: italic;
    text-align: left;
    margin: 0 3% 0;
}

.overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 1));
    display: flex;
}

.section {
    height: 100vh;
    background-image: url("../images/63B0v1sfWH0.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

.section-title {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 60%;
    font-style: italic;
    font-family: Helvetica;
}

.section-description{
    font-size: 30px;
    color: black;
    font-weight: 200;
    margin: auto;
    font-style: italic;
    margin-top: 35px;
    font-style: italic;
}

.carousel-header {
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    text-shadow: 2px 2px 3px black, 0 0 1em rgb(0, 0, 0);
    margin-bottom: 20px;
}

.carousel-descr {
    font-style: italic;
    font-size: 17px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 0);
}

#crsl {
    margin: auto;
}

#btn-crsl {
    color: black;
    border: 1px solid #ffcc00;
    background: rgba(255, 204, 0, 0.8);
    font-style: italic;
    font-size: 25px;
}

#btn-crsl:hover {
    background: #ffcc00;
}

.footer {
    height: 100px;
    background-color: black;
    display: flex;
}

.footer-author {
    color: #ffcc00;
    font-size: 24px;
    margin: auto;
}