body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal
  }
  
* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
  
.header {
    height: 100vh;
    background-color: white;

    background-size: cover;
    background-position: center;
    text-align: center;
}

.header1 {
    height: 100vh;
    background-color: #eee;
    background-image: url(../images/About_background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.header2 {
    height: 100vh;
    background-color: #eee;
    background-image: url(../images/legal_women.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.header3 {
    height: 100vh;
    background-color: #eee;
    background-image: url(../images/men_lk.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
.header-title {
    font-size: 70px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: auto;
    font-style: italic;
}
  
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
}

.section {
    height: 100vh;
    background-color: white;

    background-size: cover;
    text-align: center;
}

.section-title {
    font-size: 50px;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20%;
    font-style: italic;
    text-shadow: 1px 1px 10px gray;
}

.section-description{
    font-size: 30px;
    color: black;
    font-weight: 500;
    margin: auto;
    font-style: italic;
    margin-top: 35px;
    font-style: italic;
}

.carousel-header {
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 0);
}

.carousel-descr {
    font-style: italic;
    font-size: 17px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 0);
}

#crsl {
    margin: auto;
}
