table{
  font-family: ‘Open Sans’, sans-serif;
  font-size: 16px;
  background: white;
  max-width: 80%;
  /*width: 80%;*/
  border: 1px solid #e8edff;
  border-collapse: collapse;
  text-align: left;
}
th {
  border-bottom: 3px solid #ccc;
  font-weight: normal;
  color: black;
  padding: 10px 15px;
  background: #f8c42c;
}
td {
  color: black;
  border-top: 1px solid #e8edff;
  padding: 10px 15px;
}
tr:hover td {
  background: #FFFADD;
}