<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>О сайте</title>
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
            </ul>
       </div>
    </nav>

    <div class="container-fluid article" style="min-height: 100vh;">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: white;">
                <div class="line"></div>
                <h1 class="title1">О сайте</h1>
                <div class="line"></div>
                <p class="text" style="margin-bottom: 10px">
                Сайт разработан с целью помочь начинающим предпринимателям <a class="link" href="/why_official">официально</a> вести свой бизнес в сети Интернет. 
                <p class="text" style="margin-bottom: 10px">
                Вы сможете найти рекомендации по вопросам регистрации, платформ для ведения бизнеса, основных договоров, оферты, работы с персональными данными, а также прекращения бизнеса. 
                </p>
                <p class="text" style="margin-bottom: 10px">
                Для предпринимателя на начальных этапах мы предлагаем две альтернативы формы ведения бизнеса: самозанятый и индивидуальный предприниматель. Юридическое лицо сложнее зарегистрировать, оно требует больше сил для ведения отчетности, суммы штрафов выше, чем у других форм, а выведение доходов из оборота – непростой процесс, поэтому начать свой бизнес лучше и проще, используя предлагаемые нами формы.
                </p>
                <p class="text">
                Обращаем внимание, что сайт и его контент<strong>*</strong> носят информационный характер.  По вашим вопросам и предложениям будем рады ответить по адресу: <a class="link" href="mailto:info@startup-online.site">info@startup-online.site</a>.
                </p>
                <p class="text">
                <i>*информация сайта актуальна на апрель 2021 года, обратите внимание, что требования законодательства могут меняться.</i>
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
</body>
</html>