<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Выбор формы</title>
    <link rel="stylesheet" type="text/css" href="static/css/anketa.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main#start">Вернуться в раздел</a>
                </li>
            </ul>
         </div>
    </nav>

    <header class="my_anketa">
    <div class="overlay2">
        <form action="anketa" method="get" class="form" id="anketa_content">
            <div class="align">
                <table class="my_table">
                    <tr>
                        <p style="text-align: center; font-family: Helvetica; font-size: 30px; font-style: italic; color: white; text-shadow: 2px 2px 3px black, 0 0 1em rgb(0, 0, 0);">Поделитесь своими планами</p>
                    </tr>
                    <tr>
                        <td>
                            <div class="card" style="width: 25rem; height: 11rem;">
                                <div class="card-body" style="font-size: 18px;">
                                    Мой бизнес-план предусматривает размер среднего ежемесячного дохода
                                    <div class="my_switch custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="q1no" checked onclick="clickOther('q1')">
                                        <label class="custom-control-label" for="q1no">менее 200 тысяч рублей</label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="my_switch custom-control-input" id="q1" name="income" onclick="clickOther('q1no')">
                                        <label class="custom-control-label" for="q1">более 200 тысяч рублей</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card" style="width: 25rem; height: 11rem;">
                                <div class="card-body" style="font-size: 18px;">
                                    Я собираюсь нанимать работников по трудовым договорам
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="q2" name="workers" onclick="clickOther('q2no')">
                                        <label class="custom-control-label" for="q2">да, собираюсь</label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="q2no" checked onclick="clickOther('q2')">
                                        <label class="custom-control-label" for="q2no">нет, не собираюсь</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="card" style="width: 25rem; height: 11rem; min-height: 10rem;" >
                                <div class="card-body" style="font-size: 18px;">
                                    Я готов самостоятельно вести учет доходов и подавать налоговые декларации
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="q3" name="accounting" onclick="clickOther('q3no')">
                                        <label class="custom-control-label" for="q3">да, готов</label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="q3no" checked onclick="clickOther('q3')">
                                        <label class="custom-control-label" for="q3no">нет, не готов</label>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="card" style="width: 25rem; height: 11rem; min-height: 10rem;">
                                <div class="card-body" style="font-size: 18px;">
                                    Я планирую реализацию <a class="link" href="/excise">подакцизных</a> товаров/услуг или перепродажу
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="q4" name="excise" onclick="clickOther('q4no')">
                                        <label class="custom-control-label" for="q4">да, планирую</label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="q4no" checked onclick="clickOther('q4')">
                                        <label class="custom-control-label" for="q4no">нет, не планирую</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-outline-secondary" id="btn_send" onclick="fillHidden()">Отправить</button>
                <input type="hidden" id="hiddenField" name="hid", value="">
            </div>
        </form>
    </div>
    </header>

    <script>
        function clickOther(id_reciever) {
            if (document.getElementById(id_reciever).checked == true)
                document.getElementById(id_reciever).checked = false
            else
                document.getElementById(id_reciever).checked = true
        }
    </script>
    <script>
        function fillHidden() {
          document.getElementById("hiddenField").value ='f'
        }
    </script>
</body>
</html>