<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Выбор формы</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/anketa.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top ">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main#start">Вернуться в раздел</a>
                </li>
            </ul>
       </div>
    </nav>

    <div class="answer">
        <div class="overlay2" style="vertical-align: middle;">
            <div class="card" style="width: 80%; margin: auto; box-shadow: 1px 1px 3px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0);">
                <div class="card-body">
                    <h1 class="display-4" style="font-family:'Helvetica'; font-size: 48px; font-weight: 300; margin-bottom: 3%; color: black;">Вам подходит {{orgform}}</h1>
                    <p class="lead" style="font-family:'Helvetica'; font-size: 24px; color: black;">{{comment}}<br class="lead">{{comment_add}}</p>
                    <hr class="my-4">
                    <p style="font-family:'Helvetica'; font-size: 20px; font-style: italic; color: black;">Узнайте о том, как зарегистрироваться и вести бизнес в качестве {{aboutbutton}}</p>
                    <button class="btn btn-outline-primary" id="btn_send" onclick="window.location.href='{{ref}}'" role="button">Читать</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>