<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    <title>{% block title %}Default title{% endblock %}</title>
    {% block css_file %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/about">О сайте</a>
                </li> 
            </ul>
<!--             <ul class="navbar-nav mr-auto sm-8">         
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/about">О сайте</a>
                </li>            
            </ul> -->
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="#">Главная страница</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-value="start" href="#">Регистрация бизнеса</a>
                </li>
               <li class="nav-item">
                 <a class="nav-link" data-value="process" href="#">Ведение бизнеса</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link " data-value="end" href="#">Прекращение бизнеса</a>
               </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>

