<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Регистрация в качестве самозанятого</title>
    <link rel="stylesheet" type="text/css" href="static/css/tables.css">
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top ">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main#process">Вернуться в раздел</a>
                </li>
            </ul>
       </div>
    </nav>

    <div class="container-fluid article">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: white;">
                <div class="line"></div>
                <h1 class="title1">Чек – лист договоров, которые понадобятся вам в процессе открытия и ведения своего бизнеса</h1>
                <div class="line"></div>
                <p class="text">
                    Не секрет, что предпринимательская деятельность в сфере торговли не ограничивается только лишь реализацией товара, в процессе открытия и ведения бизнеса вам предстоит столкнуться с различными правоотношениями, которые будет необходимо правильно оформить с помощью договора.
                </p>
                <p class="text">
                 <img src="static/images/contract.png" class="rightimg">
                    В этой статье мы хотим представить вам краткий список базовых договоров, которые будут необходимы любому бизнесмену, а также предоставим <a class="link" href="http://www.consultant.ru/about/kd/">ссылку на сайт</a> наших партнеров из компании КонсультантПлюс, где при помощи конструктора договоров вы сможете  максимально удобно индивидуализировать тот или иной документ и прописать в нем все необходимые условия.
                </p>
                <h1 class="title">Чек-лист договоров для интернет-предпринимателей</h1>
                <table style="margin: auto;">
                      <tr >
                         <th class="th">Предмет сделки</th>
                         <th class="th">Договор</th>
                      </tr>
                      <tr >
                        <td>Оказание услуг</td>
                        <td>Договор возмездного оказания услуг</td>
                      </tr>
                      <tr >
                        <td>Поставка товара или комплектующих</td>
                        <td>Договор поставки</td>
                      </tr>
                      <tr >
                        <td>Выполнения работ</td>
                        <td>Договор подряда</td>
                      </tr>
                      <tr >
                        <td>Найм работника</td>
                        <td>Трудовой договор</td>
                      </tr>
                      <tr >
                        <td>Разработка интернет-сайта</td>
                        <td>Договор авторского заказа</td>
                      </tr>
                      <tr >
                        <td>Хранения товара и комплектующих</td>
                        <td>Договор хранения</td>
                      </tr>
                </table>
                <br></br>
            </div>
            </div>
        </div>
    </div>
</body>
</html>