<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Политика использования cookie файлов</title>
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
            </ul>
       </div>
    </nav>

    <div class="container-fluid article">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: white;">
                <div class="line"></div>
                <h1 class="title1">Политика использования cookie файлов</h1>
                <div class="line"></div>
                <h1 class="title"> 1. Для чего нужна политика? </h1>
                <h1 class="title" style="font-size: 28px;"> 1.1 Общие положения </h1>
                <p class="text">
                     Условия настоящей Политики использования cookie файлов (далее – Политика) распространяются на Сайт.
                </p>
                <p class="text">
                     Целью настоящей Политики является (1) проинформировать о перечне используемых и автоматически
                    загружаемых на устройство Пользователя Файлов cookie; и (2) уведомить о целях установки и
                    использования таких Файлов cookie, а также сроков их хранения/установки на устройстве Пользователя;
                    и (3) информировать Пользователя о способах отключения Файлов cookie.
                </p>
                <p class="text">
                    Каждый Пользователь имеет право ознакомиться с текстом настоящей Политики по следующей ссылке: <a class="link" href="/cookie_politics">http://startup-online.site/cookie_politics</a>.
                </p>
                <p class="text">
                    Если у Пользователя возникли какие-либо вопросы к настоящей Политике и/или к работе Файлов cookie,
                    Пользователь может направить письменный запрос на электронный адрес: <a class="link" href="mailto:info@startup-online.site">info@startup-online.site</a>
                </p>
                <p class="text">
                    Если Пользователь не согласен и/или ему не понятны некоторые из условий данной Политики, он обязан
                    немедленно прекратить пользование Сайтом.
                </p>
                <h1 class="title" style="font-size: 28px;"> 1.2. Определение понятий </h1>
                <p class="text">
                    «Файлы cookie» означает преимущественно небольшие фрагменты данных, которые хранятся на компьютере,
                    планшете, мобильном телефоне или другом устройстве Пользователя и позволяют записывать определенную
                    информацию при любом посещении Сайта, взаимодействии со службами, приложениями, инструментами, а
                    также отправке и получении сообщений, с целью идентификации Пользователя независимо от используемого
                    им устройства.
                </p>
                <p class="text">
                    «Пользователь» означает юридическое или физическое лицо, которое пользуется Сайтом и/или получило к
                    нему доступ.
                </p>
                <p class="text">
                    «Правообладатель» означает следующее лицо, обладающее исключительными правами на сайт в силу авторства - ФИО.
                </p>
                <p class="text">
                    «Сайт» означает информационную единицу в Интернете, ресурс из веб-страниц (документов), которые
                    объединены общей темой и связаны друг с другом с помощью ссылок. Сайт зарегистрирован на
                    Правообладателя и обязательно привязан к конкретному домену, являющемуся его адресом. Настоящая
                    Политика разработана для следующего сайта: <a class="link" href="http://startup-online.site/">http://startup-online.site/</a>.
                </p>
                <h1 class="title"> 2. Для чего используются файлы cookie?</h1>
                <p class="text" style="margin-bottom: 10px">
                    Правообладатель использует Файлы cookie для достижения следующих целей:
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li>
                            для сохранения информации о Пользователе на время использования им Сайта.
                        </li>
                        <li>
                            для идентификации Пользователя (распознание браузера и/или устройства каждый раз, когда
                            осуществляется вход на Сайт, сохранение настроек экрана и браузера и/или сохранение логина
                            и пароля Пользователей для входа на Сайт).
                        </li>
                        <li>
                            для работы отдельных разделов/страниц Сайта (где использование Файлов cookie является крайне необходимым).
                        </li>
                        <li>
                            для улучшения навигации по Сайту.
                        </li>
                        <li>
                            для улучшения взаимодействия Сайта и Пользователей.
                        </li>
                        <li>
                            для повышения качества обслуживания и обеспечения максимального удобства и комфорта
                            Пользователей при использовании Сайта.
                        </li>
                    </ol>
                </p>

                <h1 class="title"> 3. Какие файлы cookie используются?</h1>
                <p class="text" style="margin-bottom: 10px">
                    Согласно общепринятым классификациям, на данный момент существуют следующие виды Файлов cookie:
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li>
                            Технические файлы cookie. Они являются необходимыми для бесперебойного и надежного
                            функционирования Сайта. Отключение данного типа Файлов cookie может привести к ограничению
                            Пользователя в доступе к определенным функциональным возможностям Сайта.
                        </li>
                        <li>
                            Сессионные файлы cookie. Они являются временными и сохраняют информацию о совершенной
                            Пользователем активности в браузере в течение одной сессии (т.е. до момента закрытия такого
                            браузера Пользователем).

                        </li>
                        <li>
                            Перманентные файлы cookie. Они сохраняются в памяти устройства Пользователя в течение
                            определенного периода времени и отвечают за личные предпочтения Пользователя, установленные
                            в браузере (к примеру, языковые настройки браузера и/или шрифт Сайта).
                        </li>
                        <li>
                            Статистические файлы cookie. Они нужны для отслеживания страниц/разделов Сайта, посещаемых
                            Пользователем, а также выявления возможных ошибок в работе Сайта. Информация, собираемая о
                            Пользователях данным видом Файлов cookie, является анонимной и необходима для эффективного
                            поддержания и обновления Сайта, а также для предоставления Пользователю таргетингового
                            контента.
                        </li>
                        <li>
                            Поведенческие файлы cookie. Они нужны для сбора информации о поисковых запросах Пользователя
                            и его предпочтениях для проведения маркетинговых и/или иных рыночных исследований с целью
                            последующего предоставления персонифицированного маркетингового и рекламного контента
                            Пользователю.
                        </li>
                    </ol>
                </p>
                <p class="text" style="margin-bottom: 10px">
                    Сайт в работе использует следующие Файлы cookie, принадлежащие Правообладателю:
                    <ul class="text" style="text-align: left; text-indent: 0;">
                        <li>CSRF-токен - технический cookie для защиты от межсайтовой подделки запросов</li>
                        <li>st1, st2, st3, st4, st5, st6, st7, st8, st9, st10, st11, st12 - перманентные cookie для фиксации результатов взаимодействия пользователя с веб-страницей <a class="link" href="/todolist">http://startup-online.site/todolist</a></li
>                </p>
                <h1 class="title"> 4. Как отключить работу файлов cookie?</h1>
                <h1 class="title" style="font-size: 28px;"> 4.1. Общие положения</h1>
                <p class="text">
                    При входе на Сайт Пользователь предоставляет свое согласие на использование Сайтом Файлов cookie следующим образом:
                    при нажатии кнопки "Сохранить" на веб-странице <a class="link" href="/todolist">http://startup-online.site/todolist</a>.
                </p>
                <p class="text">
                    Каждый Пользователь в любой момент может отключить работу Файлов cookie на устройстве, с которого
                    совершается вход на Сайт. Если Пользователь не желает отключать работу Файлов cookie, никакие
                    дополнительные действия не требуются от Пользователя в данном случае.
                </p>
                <p class="text">
                    Обращаем внимание, что Правообладатель делает все возможное для того, чтоб использование Сайта было
                    доступно Пользователю без загрузки каких-либо Файлов cookie. Однако, Правообладатель не гарантирует,
                    что такие Файлы cookie не будут загружаться вовсе, ввиду технических и функциональных особенностей Сайта.
                </p>
                <p class="text">
                    Файлы cookie могут храниться на устройстве Пользователя от нескольких часов до нескольких дней или
                    лет, в зависимости от типа загруженных/используемых Файлов cookie.
                </p>

                <h1 class="title" style="font-size: 28px;"> 4.2. Порядок отключения файлов cookie </h1>
<!--                 <p class="text">
                    Пользователь имеет возможность отключить работу Файлов cookie на Сайте посредством выполнения
                    следующих действий: …
                </p> -->
                <p class="text" style="margin-bottom: 10px">
                    Пользователь также может отключить работу Файлов cookie, путем изменения настроек своего браузера
                    (при этом возможно также отключение файлов cookie, установленных другими веб-сайтами):
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li>
                            Для Google Chrome, необходимо изменить параметры и конфигурацию браузера согласно следующим
                            инструкциям по <a class="link" target="_blank" href="https://support.google.com/chrome/answer/95647? co=GENIE.PIatform=Desktop&hl=ru">ссылке</a>.
                        </li>
                        <li>
                            Для Firefox, необходимо изменить параметры и конфигурацию браузера согласно следующим
                            инструкциям по <a class="link" target="_blank" href="https://support.mozilla.org/ru/kb/uluchshennaya-zashita-ot-otslezhivaniya-v-firefox-?redirectlocale=en-US&redirectslug=enable-and-disable-cookies-website-preferences">ссылке</a>.
                        </li>
                        <li>
                            Для Internet Explorer, необходимо изменить параметры и конфигурацию браузера согласно
                            следующим инструкциям по <a class="link" target="_blank" href="https://support.microsoft.com/ru-ru/help/17442/windows- internet-explorer-delete-manage-cookies">ссылке</a>.
                        </li>
                        <li>
                            Для Safari, необходимо изменить параметры и конфигурацию браузера согласно следующим
                            инструкциям по <a class="link" target="_blank" href="https://support.apple.com/ru-ru/guide/safari/sfri11471/mac">ссылке</a>.
                        </li>
                    </ol>
                </p>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
</body>
</html>