<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Понятие и перечень подакцизных товаров</title>
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="anketa">Вернуться в тест</a>
                </li>
            </ul>
       </div>
    </nav>

    <div class="container-fluid article">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: white;">
                <div class="line"></div>
                <h1 class="title1">Понятие и перечень подакцизных товаров</h1>
                <div class="line"></div>
                <p class="text">
                    Подакцизные товары — это вид товаров, которые облагаются особым налогом — акцизом. Акциз — разновидность косвенного налога в виде надбавки к стоимости товара, вводимой государством для наполнения госбюджета, а также для регулирования спроса на тот или иной вид товаров.
                </p>
                <p class="text">
                    Плательщиком акциза в бюджет является организация, ИП или иное лицо, которое осуществляет производство или продажу такого товара.
                </p>
                <h1 class="title"> Перечень подакцизных товаров </h1>
                <p class="text">
                    Полный список подакцизных товаров содержится в ст. 181 Налогового Кодекса РФ.<br>
                    Среди них:
                    <ul class="text" style="text-align: left; text-indent: 0;">
                        <li>
                            этиловый спирт и спиртосодержащие товары с содержанием спирта более 9%, которые не относятся к алкогольной продукции
                        </li>
                        <li>
                            алкогольная продукция
                        </li>
                        <li>
                            табачная продукция
                        </li>
                        <li>
                            легковые автомобили, а также мотоциклы мощностью более 150 л.с.
                        </li>
                        <li>
                            автомобильный, прямогонный бензин и дизельное топливо
                        </li>
                        <li>
                            моторные масла для инжекторных и дизельных двигателей
                        </li>
                        <li>
                            авиационный керосин
                        </li>
                        <li>
                            ортоксилол, параксилол, бензол
                        </li>
                        <li>
                            иные смеси углеводородов в жидком состоянии
                        </li>
                        <li>
                            ортоксилол, параксилол, бензол
                        </li>
                        <li>
                            природный газ
                        </li>
                        <li>
                            электронные сигареты и жидкости для электронных сигарет
                        </li>
                        <li>
                            табак и изделия из него, употребляемые путем нагрева
                        </li>
                        <li>
                            нефтяное сырье
                        </li>
                        <li>
                            виноград, использованный для производства вина
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
</body>
</html>