<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Регистрация в качестве ИП</title>
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top ">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main#start">Вернуться в раздел</a>
                </li>
            </ul>
       </div>
    </nav>

    <div class="container-fluid article">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: white;">
                <div class="line"></div>
                <h1 class="title1">Регистрация и ведение бизнеса в качестве индивидуального предпринимателя</h1>
                <div class="line"></div>
                <p class="text">
                    Вы уже прошли наше короткое анкетирование, по результатам которого Вам было предложено зарегистрироваться в качестве индивидуального предпринимателя (далее – ИП).
                    В случае, если Вы еще не прошли анкетирование, есть возможность сделать это <a class="link" href="/anketa">здесь</a>, что поможет Вам подобрать наиболее подходящую форму ведения бизнеса.
                </p>
                <h1 class="title"> Ограничения видов деятельности для ИП </h1>
                <p class="text" style="margin-bottom: 10px">
                    ИП не может осуществлять следующие виды деятельности:
                    <ul class="text" style="text-align: left; text-indent: 0;">
                        <li>
                            разработка, производство, ремонт, испытание авиационной техники;
                        </li>
                        <li>
                            деятельность по обеспечению авиационной безопасности;
                        </li>
                        <li>
                            космическая деятельность;
                        </li>
                        <li>
                            пассажирские и грузовые перевозки воздушным транспортом;
                        </li>
                        <li>
                            разработка, производство, ремонт, утилизация, торговля вооружением и военной техникой, оружием;
                        </li>
                        <li>
                            деятельность по проведению экспертизы промышленной безопасности;
                        </li>
                        <li>
                            производство, хранение, применения, распространение взрывчатых материалов промышленного назначения;
                        </li>
                        <li>
                            выполнение работ по активному воздействию на гидрометеорологические и геофизические процессы и явления;
                        </li>
                        <li>
                            негосударственная (частная) охранная деятельность;
                        </li>
                        <li>
                            деятельность инвестиционных фондов, деятельность по управлению ими и негосударственными пенсионными фондами;
                        </li>
                        <li>
                            производство лекарственных средств;
                        </li>
                        <li>
                            производство и реализация алкоголя;
                        </li>
                        <li>
                            культивирование растений, используемых для производства наркотических средств и
                            психотропных веществ, деятельность, связанная с оборотом наркотических средств и психотропных веществ.
                        </li>
                    </ul>
                </p>
                <h1 class="title"> Режимы налогообложения  </h1>
                <p class="text">
                    ИП может выбрать следующие режимы налогообложения:
                    <table class="text" border="1" style="text-align: center; font-size: 16px">
                        <tr>
                            <td> </td>
                            <td> </td>
                            <th>Ставка</th>
                            <th>Ограничения</th>
                       </tr>
                        <tr>
                            <th rowspan="2"> Общая система налогооблажения </th>
                            <td> НДФЛ - с доходов </td>
                            <td> 13 % </td>
                            <td rowspan="2">Нет</td>
                       </tr>
                       <tr>
                            <td>НДС – с реализации товаров,
                                проведения работ,
                                оказания услуг</td>
                            <td>0 - 20 %</td>
                      </tr>
                        <tr>
                            <th rowspan="2"> Упрощенная система налогооблажения </th>
                            <td> с доходов </td>
                            <td> 1 - 6 % </td>
                            <td rowspan="2"> Работники - до 100 человек, доходы - не более 150 млн рублей в год </td>
                        </tr>
                        <tr>
                            <td> Доходы-расходы </td>
                            <td> 15 % </td>
                       </tr>
                        <tr>
                            <th>Патентная система налогооблажения</th>
                            <td>Не оплачивается на срок от
                                месяца до года патент
                                (стоимость которого устанавливается государством),
                                то есть разрешение заниматься конкретным бизнесом
                            </td>
                            <td>
                                6 %
                            </td>
                            <td> Работники - до 15 человек, Доходы - не более 60 млн рублей в год. Не применяется: -деятельность в рамках договора
                            простого товарищества (договора о совместной деятельности) или договора доверительного управления имуществом
                                -в отношении реализации подакцизных товаров, а также подлежащих обязательной маркировке
                            </td>
                        </tr>
                        <tr>
                            <th rowspan="2"> Единый сельскохозяйственный налог (ЕСХН) </th>
                            <td> ЕСХН (доходы – расходы) </td>
                            <td rowspan="2">6 %</td>
                            <td rowspan="2">Более 70 процентов доходов поступают от сельскохозяйственного производства</td>
                       </tr>
                        <tr>
                            <td>НДС</td>
                        </tr>
                        <tr>
                            <th>Налог на профессиональный доход (НПД)</th>
                            <td>НПД</td>
                            <td>4 % - при расчетах с гражданами 6 % - при расчетах с организациями</td>
                            <td>Соответствие требованиям, установленных для <a class="link" href="/self_empl">самозанятых</a> (доход до 200 000 рублей/месяц, отсутствие наемных работников и т.д.)</td>
                        </tr>
                    </table>
                </p>
                <p class="text">
                    Выбор системы зависит от того, чем именно Вы планируете заниматься,
                    сколько работников хотите привлечь, а также на какой доход рассчитываете.
                    Более того, в отличие от самозанятого, который платит налог только при
                    фактическом наличии прибыли, ИП необходимо платить налог всегда.
                </p>
                <h1 class="title"> Отчетность </h1>
                <p class="text">
                    ИП предоставляет следующую отчётность:<br>
                    В <span style="font-weight: 600"> Пенсионный фонд</span> - сведения о трудовой деятельности работников.<br>
                    В <span style="font-weight: 600"> Налоговую Инспекцию</span> – налоговую декларацию (в патентной системе налогообложения это не требуется).<br>
                    В <span style="font-weight: 600"> Фонд социального страхования</span> – сведения о страховых взносах за работников.
                </p>
                <p class="text">
                    Самостоятельно рассчитать размер страховых взносов,
                    в том числе за неполный расчетный период, удобно с помощью
                    электронного сервиса ФНС на сайте <a class="link" href="https://www.nalog.ru/">www.nalog.ru</a>: «Калькулятор расчета страховых взносов».
                </p>

                <p class="text">
                    ИП необходимо иметь  Контрольно-кассовую  технику,
                    кроме случаев продажи товаров собственного производства, а также в случае отсутствия наемных работников.
                </p>

                <h1 class="title">Регистрация в качестве ИП</h1>
                <p class="text" style="margin-bottom: 10px">
                    Если вы совершеннолетний гражданин Российской Федерации, для регистрации вам потребуются следующие документы:
                    <ul class="text" style="text-align: left; text-indent: 0;">
                        <li>
                            паспорт и копии всех его страниц;
                        </li>
                        <li>
                            заявление о регистрации в качестве ИП (форма № Р21001)
                        </li>
                        <li>
                            квитанция об уплате госпошлины (если документы подаются электронно, то не нужно платить
                            госпошлину, если на бумажном носителе, то сервис на сайте ФНС сформирует квитанцию, оплатить госпошлину можно электронно)
                        </li>
                    </ul>
                </p>
                <p class="text" style="margin-bottom: 10px">
                    Если в качестве ИП регистрируется несовершеннолетний в возрасте от 14 до 18 лет, то потребуются следующие документы:
                     <ul class="text" style="text-align: left; text-indent: 0;">
                        <li>
                            нотариально удостоверенное согласие родителей
                            (законных представителей) на осуществление предпринимательской
                            деятельности лицом, регистрируемым в качестве ИП
                        </li>
                        <span style="font-weight: 600; margin-left: 0">ИЛИ</span>
                        <li>
                            документы, подтверждающие полную дееспособность:
                            <ul class="text" style="text-align: left; text-indent: 0;">
                                <li>
                                    копия свидетельства о заключении брака лицом
                                </li>
                                <b>ИЛИ</b>
                                <li>
                                    копия решения органа опеки и попечительства или суда об объявлении
                                    лица, регистрируемого в качестве ИП, полностью дееспособным (с 16 лет)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>
                <p class="text" style="margin-bottom: 10px">Если Вы планируете осуществлять деятельности  в сфере образования,
                    воспитания, развития несовершеннолетних, организации их отдыха и оздоровления,
                    медицинского обеспечения, социальной защиты и социального обслуживания, в сфере
                    детско-юношеского спорта, культуры и искусства с участием несовершеннолетних, Вам необходимо  предоставить:
                    <ul class="text" style="text-align: left; text-indent: 0;">
                <li>справку о наличии (отсутствии) судимости и (или) факта уголовного преследования либо о прекращении уголовного преследования по реабилитирующим основаниям</li>
                    </ul>
                </p>
                <p class="text"style="margin-bottom: 10px"> Подать документы можно: </p>
                <ul class="text" style="text-align: left; text-indent: 0;">
                    <li> Лично</li>
                    <li> Почтой с объявленной ценностью и описью вложения или электронно (понадобится электронная подпись) через ФНС</li>
                    <li> Через МФЦ или сайт Госуслуг </li>
                    <li> Через мобильное приложение «Личный кабинет индивидуального предпринимателя» (от ФНС), которое в дальнейшем будет:
                        <ul class="text" style="text-align: left; text-indent: 0;">
                            <li> напоминать о предстоящей уплате налога или страхового взноса, </li>
                            <li> уведомлять о задолженности,</li>
                            <li> помогать рассчитать налог,</li>
                            <li> оказывать помощь в получении выписки или справки,</li>
                            <li> помогать в смене системы налогообложения,</li>
                            <li> оказывать помощь в проверке работников (их ФИО, ИНН и СНИЛС),</li>
                            <li> помогать регистрировать контрольно-кассовую технику, </li>
                            <li> помогать обращаться в налоговый орган онлайн или записываться на прием</li>
                        </ul>
                    </li>
                </ul>
            <p class="text">Так, регистрация в качестве ИП может занять пару минут, если подавать перечисленные документы электронно. В этом случае Вы не оплачиваете госпошлину. Через 3-5 дней после подачи документов Вы сможете получить выписку из Единого государственного реестра ИП.</p>
            <p class="text">Таким образом, в отличие от самозанятого, ИП необходимо иметь контрольно-кассовую технику, выбрать систему налогообложения, вести отчетность, предоставляя помимо налоговых деклараций дополнительные документы при наличии работников, а также выплачивать страховые взносы.</p>
            <p class="text">Теперь Вы знаете все основные особенности регистрации и ведения бизнеса в качестве ИП, желаем Вам успехов Вашем деле, и в случае, если вы все еще сомневаетесь в том, какую организационно-правовую форму выбрать, то вы можете почитать другие наши <a class="link" href="/self_empl">статьи</a> на эту тему.</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
</body>
</html>