{% extends "base.html" %}
{% block title %}Ведение бизнеса проще, чем кажется{% endblock %}
{% block css_file %}<link rel="stylesheet" type="text/css" href="static/css/main.css">{% endblock %}
{% block content %}
<header class="header" id="main">
    <div class="overlay">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <h1 class="header-title" style="margin-top: 30%;">Ведение бизнеса <strong style="font-size: 70px; color: #ffcc00;">проще</strong>,
                    чем кажется</h1>
            </div>
        </div>
    </div>
</header>

<div class="section" id="why" style="background-image: url('static/images/dZENGyv1aUM.jpg');">
    <div class="overlay">
        <div class="container">
            <h1 class="header-title" style="margin-top: 15%; margin-bottom: 50px;">Почему Вам стоит начать вести бизнес официально?</h1>
            <button class="btn btn-outline-light" id="btn-crsl" onclick="window.location.href='/why_official'">Читать</button>
        </div>
    </div>
</div>

<div class="section" id="start">
    <div class="overlay">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <h1 class="section-title"> Регистрация бизнесa </h1>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-12 desc" id="crsl">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="false">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" style="max-width: 1200px">
                        <div class="carousel-item active">
                            <img id="carousel-photo" src="static/images/JtyGh8MSzcQ.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="carousel-header">Опрос: выбор подходящей для Вас формы ведения бизнеса</h5>
                                <button type="button" class="btn btn-outline-light" id="btn-crsl" onclick="window.location.href='/anketa'">Пройти</button>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img id="carousel-photo" src="static/images/y1Fw59N-c8g.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="carousel-header">Узнайте о том, как зарегистрироваться и вести бизнес в качестве самозанятого</h5>
                                <button type="button" class="btn btn-outline-light" id="btn-crsl" onclick="window.location.href='/self_empl'">Читать</button>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img id="carousel-photo" src="static/images/aKoJEuEEjc0.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="carousel-header">Узнайте о том, как зарегистрироваться и вести бизнес в качестве ИП</h5>
                                <button type="button" class="btn btn-outline-light" id="btn-crsl" onclick="window.location.href='/ind_entr'">Читать</button>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" id="process">
    <div class="overlay">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <h1 class="section-title"> Ведение бизнесa </h1>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-12 desc" id="crsl">
                <div id="carouselExampleIndicators1" class="carousel slide" data-ride="false">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner" data-interval="false" style="max-width: 1200px">

                        <div class="carousel-item active">
                            <img id="carousel-photo" src="static/images/bNbBlI9WzrQ.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="carousel-header">Как выбрать площадку для ведения бизнеса в интернете?</h5>
                                <button type="button" class="btn btn-outline-light" id="btn-crsl" onclick="window.location.href='/platforms'">Читать</button>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img id="carousel-photo" src="static/images/IEDvMngl0Ug.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="carousel-header">Что такое оферта и зачем она нужна предпринимателю</h5>
                                <button type="button" class="btn btn-outline-light" id="btn-crsl" onclick="window.location.href='/offer'">Читать</button>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img id="carousel-photo" src="static/images/ZXmNpj5YFg8.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="carousel-header">Чек-лист договоров для предпринимателя</h5>
                                <button type="button" class="btn btn-outline-light" id="btn-crsl" onclick="window.location.href='/contracts'">Читать</button>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img id="carousel-photo" src="static/images/pers_data2.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="carousel-header">Как правильно работать с персональными данными клиентов?</h5>
                                <button type="button" class="btn btn-outline-light" id="btn-crsl" onclick="window.location.href='/personal_info'">Читать</button>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img id="carousel-photo" src="static/images/marketing.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="carousel-header">Основные инструменты для маркетинга и продвижения своего продукта в интернете</h5>
                                <button type="button" class="btn btn-outline-light" id="btn-crsl" onclick="window.location.href='/marketing'">Читать</button>
                            </div>
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" id="end">
    <div class="overlay">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <h1 class="section-title"> Прекращение бизнесa </h1>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-12 desc" id="crsl">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner"  style="max-width: 1200px">

                        <div class="carousel-item active">
                            <img id="carousel-photo" src="static/images/close.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="carousel-header">Как грамотно прекратить коммерческую деятельность?</h5>
                                <button type="button" class="btn btn-outline-light" id="btn-crsl" onclick="window.location.href='/termination'">Читать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<footer class="footer">-->
<!--    <h4 class="footer-author"> Sova Prodaction </h4>-->
<!--</footer>-->


<script type="text/javascript" src="static/js/script.js"></script>



{% endblock content %}
