<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Маркетинг</title>
    <link rel="stylesheet" type="text/css" href="static/css/tables.css">
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top ">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main#process">Вернуться в раздел</a>
                </li>
            </ul>
       </div>
    </nav>

    <div class="container-fluid article">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: white;">
                <div class="line"></div>
                <h1 class="title1">Маркетинг</h1>
                <div class="line"></div>
                <h1 class="title">Сбор статистики по интернет-сайту</h1>
                <p class="text">
                    Для продвижения своего продукта в интернете можно использовать множество инструментов и методов, которые позволяют точнее выделять свою целевую аудиторию, определять ее потребности и нужды, изучать модели ее поведения.
                </p>
                <img src="static/images/marketing1.jpeg" style="width: 80%; display: flex; margin: auto; margin-bottom: 25px">
                <p class="text">
                    Если Вы решили выбрать свой сайт в качестве площадки для ведения бизнеса, то есть смысл вести статистику по разделам, которые пользователи посещают чаще всего. На основании этой статистики можно сделать выводы о том, какие разделы пользователям наиболее понятны, какие продукты наиболее популярны и какие сценарии взаимодействия пользователей с сайтом наиболее распространены. Также можно собирать информацию о том, какие кнопки, размещенные на сайте, нажимаются чаще всего, а какие реже всего. Это позволит определить, какие кнопки незаметны/непонятны/не нужны.
                </p>
                <p class="text">
                    В качестве наиболее удобного инструмента для сбора подобного рода статистики можем порекомендовать Google Analytics – бесплатный сервис для создания детальной статистики посетителей веб-сайтов. Статистика собирается на сервере Google, пользователь только размещает JS-код на страницах своего сайта. Код отслеживания срабатывает, когда пользователь открывает страницу в своем веб-браузере.
                </p>
                <h1 class="title">Маркетинг в социальных сетях</h1>
                <p class="text">
                    Социальные сети имеют развитый функционал для продвижения товаров и услуг и анализа аудитории.
                </p>
                <p class="text" style="margin-bottom: 10px">
                    Так, при создании бизнес-аккаунта в Instagram вам становятся доступными:
                    <ul class="text" style="text-align: left; text-indent: 0; margin-bottom: 10px">
                        <li>
                            статистика по подписчикам,
                        </li>
                        <li>
                            анализ метрик по результативности публикаций,
                        </li>
                        <li>
                            готовые решения по росту охвата пользователей.
                        </li>
                    </ul>
                </p>

                <p class="text" style="margin-bottom: 10px">
                    В бизнес-аккаунте можно как указать контактную информацию, так и взаимодействовать с каждым клиентом лично непосредственно в приложении. Instagram предлагает предпринимателю различные виды таргетинга (рекламы, нацеленной на определенную аудиторию):
                    <ul class="text" style="text-align: left; text-indent: 0; margin-bottom: 10px">
                        <li>
                            по местоположению,
                        </li>
                        <li>
                            по демографическим данным (возраст, пол, язык пользователей),
                        </li>
                        <li>
                            по интересам,
                        </li>
                        <li>
                            по поведению как в Instagram, так и других площадках, например, Facebook.
                        </li>
                    </ul>
                </p>
                <p class="text">
                    Подробнее можно ознакомиться на сайте <a class="link" href="https://business.instagram.com/">Instagram for Business</a>.
                </p>

                <p class="text">
                    Facebook предлагает более продвинутые маркетинговые инструменты. Помимо рекламного аккаунта существует <a class="link" href="https://business.facebook.com/">Business Manager</a>, с помощью которого можно управлять несколькими рекламными аккаунтами и собирать статистику. Так же Business Manager позволяет задействовать в процессе продвижения нескольких людей с разными ролями и контролировать их деятельность.
                </p>

                <p class="text">
                    Российская платформа Вконтакте тоже имеет функционал по упрощению маркетинга в сети. Помимо наличия непосредственных инструментов для анализа, ведения “магазина” и запуска рекламы, Вконтакте предлагает обучающие ресурсы по маркетинговой составляющей бизнеса. Быть в курсе новых возможностей позволяет подписка на сообщество <a class="link" href="https://vk.com/business">Вконтакте для бизнеса</a>.
                </p>

                <p class="text" style="margin-bottom: 10px">
                    Маркетинг в <a class="link" href="https://telegram.org/">Telegram</a> базируется на создании
                    <ul class="text" style="text-align: left; text-indent: 0; margin-bottom: 10px">
                        <li>
                            каналов - для распространения информации,
                        </li>
                        <li>
                            чатов - для личного и группового общения,
                        </li>
                        <li>
                            ботов - для рассылок и сбора статистики.
                        </li>
                        <li>
                            по поведению как в Instagram, так и других площадках, например, Facebook.
                        </li>
                    </ul>
                </p>
                <p class="text">
                    В поддержку предпринимателю в Telegram созданы боты разного функционала. Например, @metricsbot присылает Google Аналитику по активности пользователей в числовом или графического формате.
                </p>
            </div>
            </div>
        </div>
    </div>
</body>
</html>