<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Оферта</title>
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top ">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main#process">Вернуться в раздел</a>
                </li>
            </ul>
       </div>
    </nav>

    <div class="container-fluid article">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: white;">
                <div class="line"></div>
                <h1 class="title1">Оферта</h1>
                <div class="line"></div>
                <img style="display: flex; margin: auto;" src="static/images/offer.jpg">
                <p class="text">
                    Подробно рассказываем, что такое оферта и почему без нее вы не сможете успешно вести бизнес.
                </p>
                <p class="text">
                    Оферта – это предложение покупателю согласиться на определённые продавцом условия. Она адресована одному или нескольким лицам и содержит все существенные условия договора, который был бы заключен между продавцом и покупателем. По сути, это и есть договор, который заключается в момент согласия второй стороны.
                </p>
                <p class="text">
                    Чаще понятие оферты звучит в словосочетании «публичная оферта». Основная особенность этого вида оферты заключается в том, что она отражает стремление продавца заключить предложенный договор на указанных в документе условиях с любым покупателем, который посчитает нужным это сделать. Именно такой вид оферты нужен предпринимателю, осуществляющему торговлю или предоставление услуг в интернете. Ведь на ваш сайт может зайти неограниченное количество посетителей, и чем большее их количество решит приобрести ваш товар – тем лучше!
                </p>
                <p class="text">
                    Оферта может и не иметь выражения в виде определенного документа. Например размещение предпринимателем в сети товара с указанием его цены будет являться публичной офертой, то есть предложением купить у него товар по определенной цене. Но в таком случае большая часть условий договора между продавцом и покупателем не будет полностью прописана. Именно поэтому предпринимателю, чтобы защитить себя от недобросовестных покупателей, важно составить и донести до покупателя публичную оферту в виде определенного документа, в котором будут прописаны все права и обязанности сторон
                </p>
                <p class="text">
                    Для интернет-магазина публичную оферту можно назвать своеобразным списком норм и правил, в соответствии с которыми он осуществляет свою деятельность.
                </p>
                <h1 class="title"> Зачем интернет магазину нужна оферта? </h1>
                <p class="text">

                    <ul class="text" style="text-align: left; text-indent: 0;">
                        <li>
                            <span style="font-style:italic">Защита продавца и покупателя в спорных ситуациях</span><br>
                            Оферта обладает полноценной юридической силой и содержит в себе перечень всех условий заключенной сделки, поэтому она может быть использована даже при решении проблемы в судебном порядке.
                        </li>
                        <li>
                             <span style="font-style:italic">Доверие пользователей и прозрачность сделки</span><br>
                            Покупатель охотнее выберет магазин, который грамотно и подробно изложил условия сделки и правила своей торговли.
                            Ему не придется переживать за то, что его смогут обмануть, это повлияет на окончательный выбор места покупки товара в вашу пользу.
                        </li>
                        <li>
                            <span style="font-style:italic">Все по закону</span><br>
                            Осуществляя свою деятельность, предприниматель должен соблюдать законодательство.Прозрачно и понятно изложив механизмы торговли и функционирования интернет- магазина, он снимет с себя риск возникновения проблем с законом и привлечения внимания контролирующих органов.
                        </li>
                    </ul>
                </p>
                <h1 class="title"> Что должно быть в тексте публичной оферты? </h1>

                <p class="text">Предпринимателю, который далёк от составления документов и оформления договорных отношений, будет очень сложно самостоятельно составить текст публичной оферты, поэтому мы приведем список основных элементов оферты:
                <img style="width:55%; display:flex; margin:auto; margin-bottom: 48px;" src="static/images/list in offer article.png">
                Типовой образец публичной оферты для интернет-сайта приведён <a class="link" href="static/files/Oferta.docx" download>тут</a>.</p>

                <h1 class="title"> Где стоит размещать оферту на сайте? </h1>
                <p class="text">Мы рекомендуем вам размещать оферту в отдельном специальном блоке, который можно назвать “Правила продаж/оказания услуг”, вместо того, чтобы помещать ее в нижний блок сайта, где зачастую находится неактуальная информация, которую пользователь навряд ли будет читать.
                </p>
                    <p class="text">Если же вы собираетесь открывать интернет-магазин и  реализовывать ваш продукт без создания интернет-сайта (например в группе или на странице в  социальных сетях), то договор публичной оферты вы можете разместить на вашей странице (в профиле или отдельным постом) или странице группы интернет-магазина. Главное, чтобы покупатель смог легко найти ее и ознакомиться с ней в любое время.
                    </p>
                <p class="text">
                О том, на какой платформе лучше открыть свой бизнес, вы можете прочитать <a class="link" href="/platforms">здесь</a>.
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
</body>
</html>