<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Как работать с персональными данными</title>
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top ">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main#process">Вернуться в раздел</a>
                </li>
            </ul>
       </div>
    </nav>

    <div class="container-fluid article">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: white;">
                <div class="line"></div>
                <h1 class="title1">Как работать с персональными данными пользователей сайта?</h1>
                <div class="line"></div>
                <p class="text">
                    В процессе работы, владельцы интернет-сайтов каждый день сталкиваются с персональными данными
                    пользователей, это неизбежный процесс, который должен осуществляться в строго установленном законом
                    порядке, в ином случае владельца интернет сайта могут привлечь в ответственности.
                </p>
                <img src="static/images/atributes.jpg" style="width: 60%; display: flex; margin: auto;">
                <h1 class="title"> Понятие персональных данных</h1>
                <p class="text">
                    Персональные данные – это практически любая информация, которую пользователь указывает на сайте,
                    например при регистрации или при заполнении любой формы. Также к персональным данным с недавних пор
                    стали относить данные о поведении пользователя на сайте, файлы cookie, сведения о его геопозиции и IP-адрес.
                    <br style="text-indent: 20px;"> Все требования, установленные законом относятся только к тем лицам, которые используют
                    автоматизированные  алгоритмы, средства сбора и обработки данных,  хранения их в определенных базах.
                    То есть, если Вы, осуществляя свою деятельность, собираете данные покупателей самостоятельно с целью
                    продать товар или оказать услугу, то нижеперечисленные требования к вам относиться не будут.
                </p>
                <img src="static/images/prs_info.PNG" style="width: 65%; display: flex; margin: auto; margin-bottom: 5%;">
                <h1 class="title"> Что нужно делать владельцу сайта, чтобы соблюдать закон?  </h1>
                <p class="text">
                    Если же Вы все-таки являетесь оператором по обработке указанных выше персональных данных, то к вам
                    закон предъявляет ряд обязательных требований:
                </p>
                <p class="text">
                    <span style="font-weight: 600;"> Во-первых, </span> хостинг и база
                    данных с персональными данными должна располагаться на территории России, С 1 сентября 2015 года
                    законодательство обязывает записывать, хранить, обновлять и извлекать персональные данные граждан РФ
                    с использованием баз данных на территории России.
                </p>
                <p class="text">
                    <span style="font-weight: 600;"> Во-вторых, </span> обработка
                    персональных данных пользователя возможна только с его согласия, таким образом, под каждой формой на
                    сайте или при каждом действии, связанном с обработкой персональных данных, владельцу сайта
                    необходимо получать согласие на обработку этих данных, например  «Нажимая на кнопку, Вы даете
                    согласие на обработку своих персональных данных». И оформить ссылку на документ — Пользовательское
                    соглашение, договор или согласие на обработку персональных данных. Текст самого документа можно
                    разместить на отдельной странице.
                </p>
                <p class="text">
                    <span style="font-weight: 600;"> В-третьих, </span> необходимо составить и разместить
                    на сайте в свободном доступе документ "Политика в отношении обработки персональных данных"
                    <br> В данном документе должны быть описаны процедуры сбора, обработки и хранения персональных
                    данных пользователей сайта.
                </p>
                <p class="text">
                    Ну и наконец, предпринимателю, если он имеет прямой доступ к персональным данным пользователей,
                    необходимо подать уведомление об обработке персональных данных в Роскомнадзор, для этого нужно
                    зайти на <a class="link" href="https://rkn.gov.ru/personal-data/forms/" target="_blank">сайт</a> федеральной службы, где можно найти форму заявления, и помимо всего прочего, указать
                    в нем адреса местонахождения баз персональных данных и перечень персональных данных, которые в них
                    содержатся.
                </p>
                <p class="text">
                    Если же эти требования кажутся вам слишком сложными и Вы решили, что при продаже своих товаров и
                    услуг вам не обязательно работать с персональными данными в автоматическом режиме, то Вы можете
                    задуматься о том, чтобы вести свое дело на других площадках вместо интернет-сайта.
                    <br>
                    Об этом читайте <a class="link" href="/platforms">здесь.</a>
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
</body>
</html>