<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>На какой платформе лучше вести бизнес в интернете?</title>
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top ">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main#process">Вернуться в раздел</a>
                </li>
            </ul>
       </div>
    </nav>

    <div class="container-fluid article">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: white;">
                <div class="line"></div>
                <h1 class="title1">На какой платформе лучше вести бизнес в интернете?</h1>
                <div class="line"></div>
                <p class="text" style="margin-bottom:15px">
                    Для продвижения своих товаров и услуг в Интернете предпринимателю может подойти:
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li>Сайт</li>
                        <li>Социальные (далее – соц) сети</li>
                    </ol>
                </p>
                <h1 class="title"> Сайт </h1>
                <p class="text" style="margin-bottom:15px">
                    К <strong>преимуществам</strong> сайта можно отнести:
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li class>Минимальное взаимодействие с клиентом. При правильной настройке потребитель самостоятельно сможет ознакомиться с ассортиментом и совершить заказ. Вам останется лишь передать товар.</li>
                        <li class>Вы можете предусмотреть большой выбор инструментов и сервисов для взаимодействия с покупателем (онлайн-оплату, корзину, указатель наличия товара и так далее)</li>
                        <li class>Больший уровень доверия покупателя, так как интернет-магазины, которые базируются на сайтах выглядят проще,  привлекательнее и надежнее для покупателя, нежели магазины в соц сетях.</li>
                    </ol>
                </p>
                <p class="text" style="margin-bottom:15px">
                    К <strong>недостаткам</strong> интернет-магазина можно отнести:
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li>Создание, заказ или покупка сайта - более сложное и времязатратное занятие, нежели создание страницы магазина в соц сети.</li>
                        <li>За создание, заказ или покупку сайта, а также дальнейшее его содержание (покупка домена, оплата услуг хостинга, то есть публикации сайта в Интернете) Вам придется платить. Возможно, Вам придется даже нанять специального человека для администрирования сайта.</li>
                        <li>Затраты на рекламу: продвижение сайта, поиск аудитории и заказ рекламы в интернете, на форумах и поисковиках осуществить труднее и затратнее, чем в соц сетях.</li>
                    </ol>
                </p>
                <p class="text" style="margin-bottom:15px">
                    Для открытия интернет-магазина на сайте требуется:
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li>Сама платформа в виде сайта. Вы можете:</li>
                        <ol type="a"  style="text-align: left; text-indent: 0;">
                            <li>Создать сайт самостоятельно (с помощью шаблонов или с нуля)</li>
                            <li>Купить готовый сайт (договор купли-продажи)</li>
                            <li>Заказать услуги по созданию сайта (договор авторского заказа или договор подряда)</li>
                        Чек-лист основных договоров Вы можете найти <a class="link" href="/contracts">здесь</a>.
                        </ol>
                        <li>Вам следует озаботиться тем, что обязательно должно быть размещено на сайте:</li>
                            <ol type="a" style="text-align: left; text-indent: 0;">
                                <li>Оферта* - если ваша деятельность связана с предложением товаров или услуг, то для того, чтобы отношения с покупателем оформлялись по закону, вам стоит составить текст оферты и разместить его на вашем сайте.<br>
                                <span style="font-size: 14px; font-style:italic">*Узнать о том, что такое оферта, что она должна содержать и где ее размещать Вы можете <a class="link" href="/offer">здесь</a>.</span></li>
                                <li>Документы, связанные с персональными данными: если покупатель будет указывать какие-то свои данные (ФИО, email, телефон, адрес и т.д.), то Вы должны будете получить на это его согласие (обычно путем проставления галочки в форме на сайте).<br>Составьте и разместите на сайте:
                                <ul  style="text-align: left; text-indent: 0;">
                                    <li>пользовательское соглашение,</li> 
                                    <li>политику конфиденциальности</li>
                                </ul>
                                В ином случае, Вы можете получить большой штраф за незаконный сбор и обработку персональных данных.
                                </li>
                            </ol>
                    </ol>
                </p>
                <p class="text">
                    Сайт подойдет предпринимателям, которые готовы вкладывать дополнительные средства и время на создание, администрирование и содержание сайта (скорее всего, это <a class="link" href="/ind_entr">ИП</a>).
                </p>
                <h1 class="title"> Аккаунт в соц сетях </h1>
                <p class="text" style="margin-bottom:15px">
                    Вести свой бизнес можно и в любой соц сети:
                    <ul class="text" style="text-align: left; text-indent: 0;">
                        <li>Instagram</li>
                        <li>Facebook</li>
                        <li>Сообщество ВКонтакте</li>
                        <li>Канал в Telegram</li>
                    </ul>
                </p>
                <p class="text" style="margin-bottom:15px">
                    <strong>Преимущества:</strong><br>
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li>Регистрация в соц сети и наполнение страницы контентом бесплатны и занимают несколько минут.</li>
                        <li>Широкая база покупателей: соц сетями в наше время пользуется почти каждый, поэтому поиск потенциальных покупателей не должен занять много времени.</li>
                        <li>Легкое продвижение: во многих соц сетях есть автоматическая недорогая таргетинговая (нацеленная) реклама, позволяющая адресовать товары и услуги именно целевой аудитории.</li>
                    </ol>
                </p>
                <p class="text" style="margin-bottom:15px">
                    <strong>Недостатки:</strong><br>
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li>Узкий функционал. На странице в соц сети будет трудно разместить сразу весь ассортимент товара, невозможно будет реализовать систему оформления заказа, автоматическую онлайн-оплату, корзины и прочие сервисы для взаимодействия с покупателем.</li>
                        <li>Большее личное участие. Отсутствие автоматизированных сервисов потребует самостоятельно общаться с потенциальными покупателями, информировать их об особенностях товара, оформлять заказы (это можно сделать в самой соц сети или оставить контакт для связи).</li>
                        <li>Потенциальные покупатели больше склонны доверять специализированным площадкам для покупки товара в виде сайтов, нежели страницам в соц сетях.</li>
                    </ol>
                </p>
                <p class="text">
                    Так, в целом, чтобы начать вести бизнес, используя соц сети, достаточно лишь завести аккаунт с телефона и разместить первый пост, что не требует никаких затрат, что подойдет, например, <a class="link" href="/self_empl">самозанятому</a>.
                </p>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
</body>
</html>