<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Регистрация в качестве самозанятого</title>
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main#start">Вернуться в раздел</a>
                </li>
            </ul>
       </div>
    </nav>

    <div class="container-fluid article">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: white;">
                <div class="line"></div>
                <h1 class="title1">Регистрация и ведение бизнеса в качестве самозанятого</h1>
                <div class="line"></div>
                <p class="text">
                    Итак, вы уже прошли наше короткое анкетирование, и по его результатам вам было предложено зарегистрироваться в качестве
                    самозанятого, то есть лица,
                    на которое распространяется  специализированный налоговый режим в виде налога на профессиональный доход (НПД).
                    Если вы еще не проходили наше анкетирование, то можете сделать это <a class="link" href="/anketa">здесь</a>.
                    По его итогам вам будет подобрана наиболее подходящая для вас форма ведения бизнеса.
                </p>
                <h1 class="title"> Понятие режима самозанятого и налога на профессиональный доход </h1>
                <p class="text">
                    Термин «самозанятый» является общеупотребительным относительно лиц, которые самостоятельно осуществляют трудовую деятельность
                    или получают доход от использования собственного имущества, платят налог с этого дохода (налог на профессиональный доход) и
                    не имеют наемных работников.
                    Это самостоятельный налог с льготной ставкой, который должны платить граждане с доходов от профессиональной деятельности.
                    Такой налоговый режим был создан в качестве эксперимента в 2019 году и уже с октября 2020 года действует во всех регионах РФ.
                </p>
                <h1 class="title"> Кому подходит регистрация в качестве самозанятого? </h1>
                <p class="text">
                    Давайте разберемся с тем, кто может зарегистрироваться в качестве самозанятого для осуществления предпринимательской деятельности.
                    Во-первых, самозанятыми могут стать физические лица, которые:

                    <ul class="text" style="text-align: left; text-indent: 0;">
                        <li>
                            Получают доход от самостоятельного ведения деятельности или использования своего имущества.
                        </li>
                        <li>
                            Не имеют работодателя, с которым заключен трудовой договор.
                        </li>
                        <li>
                            Не привлекают наемных работников по трудовым договорам
                        </li>
                    </ul>
                </p>
                <p class="text">
                    В качестве одного из плюсов этого налогового режима можно дополнительно выделить простой механизм регистрации и отчетности.
                    Также стоит упомянуть, что помимо указанных выше требований, ведение предпринимательской деятельности  в рамках специализированного
                    налогового режима для самозанятых граждан возможно только при соблюдении ряда условий и ограничений, которые касаются:

                    <ul class="text" style="text-align: left; text-indent: 0;">
                        <li>
                            Годового дохода – он не может превышать 2.4 млн. рублей
                        </li>
                        <li>
                            Вида деятельности – Самозанятый не может заниматься продажей и перепродажей акцизных и маркированных товаров,
                            перепродажей иных товаров, добычей и реализацией полезных ископаемых, ведения предпринимательской деятельности
                            по договорам поручения и агентским договорам. Также невозможно заниматься продажей товаров с доставкой без применения
                            ККТ (контрольно-кассовой техники) при расчетах с покупателями.
                        </li>
                    </ul>
                <img src="static/images/se_activities.jpg" style="width: 80%; display: flex; margin: auto;">
                </p>
                <p class="text">
                    Итак, обобщая вышеупомянутое и говоря простыми словами, можно сказать, что регистрация в качестве самозанятого будет лучшим
                    выбором для малого предпринимателя, который планирует получать доход от своей личной трудовой деятельности, не привлекая
                    дополнительно наемных работников, а также для которого простота регистрации и налоговой отчетности при ведении бизнеса является одним
                    из определяющих критериев его выбора организационно-правовой формы.
                </p>
                <h1 class="title"> Ведение бизнеса в качестве плательщика налога на профессиональный доход </h1>
                <p class="text">
                    Перед тем, как вы узнаете о том, как и где зарегистрироваться в качестве самозанятого, мы перечислим основные особенности
                    данного режима ведения бизнеса.
                </p>
                <span class="text" style="font-weight: 600; font-size: 25px"> Налоговые ставки:</span>
                <p class="text">
                    Главной особенностью этого режима ведения бизнеса являются довольно низкие  льготные ставки налога на доход, полученный от
                    профессиональной деятельности.
                    Налоговая ставка будет напрямую зависеть от того, с кем самозанятый произвел расчет.
                    При расчетах с физ. Лицами ставка по налогу будет составлять 4%, а при расчетах с ИП и организациями 6%
                </p>
                <span class="text" style="font-weight: 600; font-size: 25px">Приложение Мой Налог:</span>
                <p class="text">
                    Это специальное мобильное приложение, выполняющее целый ряд определенных функций, которое будет сопровождать вас в процессе
                    ведения бизнеса в качестве самозанятого от регистрации и до снятия с налогового учета.
                    Приложение позволяет плательщику НПД не заниматься тем, что является обязательным для лиц со статусом ИП и значительно упрощает
                    жизнь предпринимателя.

                    <ul class="text" style="text-align: left; text-indent: 0;">
                        <li>
                            В нем ведется учёт доходов, что позволяет не думать о необходимости формирования и подачи деклараций и отчетов
                        </li>
                        <li>
                            Приложение даёт возможность формировать чеки, что позволяет не использовать ККТ (контрольно-кассовую технику)
                        </li>
                        <li>
                            Автоматически рассчитывает налог, подлежащий уплате за налоговый период
                        </li>
                        <li>
                            Позволяет получить справку о доходах, что подтверждает легальность бизнеса
                        </li>
                    </ul>
                </p>
                <img src="static/images/mynalog.png" style="width: 80%; display: flex; margin: auto;">
                <span class="text" style="font-weight: 600; font-size: 25px">Отсутствие страховых взносов</span>
                <p class="text">
                    В отличии от индивидуальных предпринимателей, у самозанятых отсутствует необходимость в уплате обязательных фиксированных
                    взносов на пенсионное страхование.
                    Это в совокупности с другими особенностями  налогового режима позволяет сделать вывод, что у самозанятого, который не
                    осуществляет свою профессиональную деятельность, а следовательно не получает от нее доход, отсутствует обязанность по уплате иных
                    дополнительных налогов и взносов.
                </p>
                <span class="text" style="font-weight: 600; font-size: 25px">Возможность получения налогового вычета</span>
                <p class="text">
                    Каждый самозанятый может получить единоразовый вычет в размере до 10000 рублей.
                    Вычет рассчитывается автоматически и формируется из доходов предпринимателя. На период формирования вычета ставка по налогу
                    уменьшается на 1% и составляет 3% на доходы от физ.лиц и 5% на доходы от ИП и организаций.
                </p>
                <h1 class="title">Регистрация в качестве самозанятого</h1>
                <p class="text">
                    Как уже было указано, регистрация в качестве самозанятого осуществляется в приложении Мой Налог или в его <a class="link" href="https://lknpd.nalog.ru/auth/login">веб-версии</a> и представляет из себя несложную процедуру.
                    Зарегистрироваться в приложении можно за несколько минут, понадобится лишь паспорт для сканирования и фотография, которую
                    можно сделать в приложении.
                    Осуществить регистрацию возможно также в <a class="link" href="https://npd.nalog.ru/credit-orgs/">уполномоченных банках</a>
                    <ul class="text" style="text-align: left; text-indent: 0;">
                        <li>
                            С помощью учетной записи налогоплательщика на сайте ФНС РФ
                        </li>
                        <li>
                            С помощью  учетной записи Единого портала государственных и муниципальных услуг
                        </li>
                    </ul>
                </p>
                <p class="text">
                    Теперь вы знаете все основные особенности регистрации и ведения бизнеса в качестве самозанятого, желаем вам успехов в
                    вашем деле, и в случае, если вы все еще сомневаетесь в том, какую организационно-правовую форму выбрать, то вы можете почитать
                    другие наши <a class="link" href="/ind_entr">статьи</a> на эту тему.
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
</body>
</html>