<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Как прекратить свой бизнес?</title>
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top ">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main#end">Вернуться в раздел</a>
                </li>
            </ul>
       </div>
    </nav>

    <div class="container-fluid article">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: white;">
                <div class="line"></div>
                <h1 class="title1">Как прекратить свой бизнес?</h1>
                <div class="line"></div>
                <p class="text">
                    Бывают случаи, когда предприниматели хотят выбрать иную организационно-правовую форму или вовсе прекратить свой бизнес, возможно, открывая новый, тогда возникает потребность в снятии с учета в налоговом органе.
                <h1 class="title">Самозанятый</h1>
                <p class="text">
                    Прежде всего, снятие с учета происходит в добровольном порядке путем подачи заявления.
                    Сделать это очень легко через приложение «Мой налог».<br>
                    Во-вторых, снять с учета налоговый орган может в случае, если самозанятый перестал удовлетворять требованиям (например, отсутствие работников, уровень дохода не более 200 тыс. рублей в месяц и т.п.), перечисленным в других наших <a class="link" href='self_empl'>статьях</a>.
                </p>
                <h1 class="title">Как это сделать?</h1>
                <p class="text">
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li>Необходимо найти в приложении кнопку «Сняться с учета» и нажать на нее.</li>
                        <li>Появится список причин отказа, среди которых нужно выбрать подходящую.</li>
                        <li>Подтвердите свой выбор.</li>
                    </ol>
                </p>
                <p class="text">
                    После этого Вы будете считаться снятым с учета, так как налоговая уведомляется автоматически через «Мой налог».<br>
                    Ничего дополнительно направлять не нужно, однако в случае наличия задолженности по налогу, ее необходимо погасить.<br>
                    На следующий день после подачи заявления налоговый орган уведомляет Вас через приложение «Мой налог» о снятии с учета, подтверждая, что все прошло успешно.
                </p>
                <h1 class="title">Индивидуальный предприниматель</h1>
                <p class="text" style="margin-bottom:15px">
                    Для прекращения деятельности в качестве ИП есть два пути:
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li>Добровольно.</li>
                        <li>При нехватке денежных средств, когда начинается процедура банкротства индивидуального предпринимателя.</li>
                    </ol>
                <h1 class="title">Как это сделать?</h1>
                <p class="text" style="margin-bottom:15px">
                    В данной статье речь пойдет о добровольном прекращении деятельности.
                    Можно обратиться:
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li>Очно
                            <ul style="text-align: left; text-indent: 0;">
                                <li>В налоговую инспекцию</li>
                                <li>В МФЦ</li>
                            </ul>
                        </li>
                        <li>Дистанционно</li>
                            <ul class="text" style="text-align: left; text-indent: 0;">
                                <li>По почте с объявленной ценностью и описью вложения</li>
                                <li>Через сайт ФНС (в том числе через личный кабинет ИП)</li>
                            </ul>
                    </ol>
                </p>
                <p class="text" style="margin-bottom:15px">
                    Вам понадобятся следующие документы:
                    <ol class="text" style="text-align: left; text-indent: 0;">
                        <li>Заявление о государственной регистрации прекращения деятельности в качестве ИП</li>
                        <li>Квитанция об уплате госпошлины в размере 160 рублей (сформировать квитанцию можно на сайте ФНС).</li>
                        Через 6 дней Вы сможете получить лист записи ЕГРИП.
                    </ol>
                </p>
                <p class="text">
                    Так, Вы узнали, как прекратить свой бизнес. Если Вы хотите ознакомиться с другими нашими статьями, есть возможность сделать это <a class="link" href='/todolist'>здесь</a>.
                </p>

                <p class="text">
                    Желаем Вам успехов!
                </p>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
</body>
</html>