<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Мой прогресс</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/todolist.css' %}?20181209">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
<script>
$(document).ready(function(){
    $(".toast").toast();
});
</script>
</head>
<body>

<div class="bs-example">
    <div class="toast fade show" style="position: fixed; top: 9%; right: 0; z-index:9999;">
        <div class="toast-header">
            <img src="/static/images/exclamation-octagon-fill.svg" class="rounded mr-2" alt="...">
            <strong class="mr-auto"><i class="fa fa-globe"></i> Внимание!</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
            Для вашего удобства данный раздел сайта использует cookies.
            Нажимая <strong>Сохранить</strong>, Вы соглашаетесь с <a href='/cookie_politics' style="color: black; font-style: italic; text-decoration: underline;">политикой</a>.</div>
    </div>
</div>

<nav class="navbar navbar-expand-lg fixed-top" style="z-index:9998;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">

                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-value="start" href="main#start">Регистрация бизнеса</a>
                </li>
               <li class="nav-item">
                 <a class="nav-link" data-value="process" href="main#process">Ведение бизнеса</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link " data-value="end" href="main#end">Прекращение бизнеса</a>
               </li>
            </ul>
   </div>
</nav>

<div class="container-fluid container_todo">

    <form action="todolist" method="post" >
        {% csrf_token %}
        <section class="todo">
            <ul class="todo-list" style="margin-top: 3%;">
                <li>
                    <input type="checkbox" id="step1" name="step1" {% if st1 == '1' %} checked{% endif %}/ >
                    <label class="toggle" for="step1"></label>
                    Пройти <a class="link" href="/anketa">экспресс-тест</a>
                </li>
                <li>
                    <input type="checkbox" id="step2" name="step2" {% if st2 == '1' %} checked{% endif %}/>
                    <label class="toggle" for="step2"></label>
                    Ознакомиться с особенностями форм ведения бизнеса<br>
                    <a class="link" href="/self_empl">Самозанятый</a> или <a class="link" href="/ind_entr">ИП</a>?
                </li>
                <li>
                    <input type="checkbox" id="step3" name="step3" {% if st3 == '1' %} checked{% endif %}/>
                    <label class="toggle" for="step3"></label>
                    Выбрать организационно-правовую форму
                </li>
                <li>
                    <input type="checkbox" id="step4" name="step4" {% if st4 == '1' %} checked{% endif %}/>
                    <label class="toggle" for="step4"></label>
                    Зарегистировать бизнес
                </li>
                <li>
                    <input type="checkbox" id="step5" name="step5" {% if st5 == '1' %} checked{% endif %}/>
                    <label class="toggle" for="step5"></label>
                    Выбрать  <a class="link" href="/platforms">площадку</a> для ведения бизнеса
                </li>
                <li>
                    <input type="checkbox" id="step6" name="step6" {% if st6 == '1' %} checked{% endif %}/>
                    <label class="toggle" for="step6"></label>
                    Составить <a class="link" href="/offer">оферту</a>
                </li>
                <li>
                    <input type="checkbox" id="step7" name="step7" {% if st7 == '1' %} checked{% endif %}/>
                    <label class="toggle" for="step7"></label>
                    Ознакомиться со списком полезных <a class="link" href="/contracts">договоров</a>
                </li>
                <li>
                    <input type="checkbox" id="step8" name="step8" {% if st8 == '1' %} checked{% endif %}/>
                    <label class="toggle" for="step8"></label>
                    Узнать о требованиях к обработке <a class="link" href="#">персональных данных</a>
                </li>
                <li>
                    <input type="checkbox" id="step9" name="step9" {% if st9 == '1' %} checked{% endif %}/>
                    <label class="toggle" for="step9"></label>
                    Продумать <a class="link" href="/marketing">маркетинговую составляющую</a>
                </li>
                <li>
                    <input type="checkbox" id="step10" name="step10" {% if st10 == '1' %} checked{% endif %}/>
                    <label class="toggle" for="step10"></label>
                    Начать вести свой бизнес!
                </li>
                <li></li>
                <li>
                    При желании
                </li>
                <li>
                    <input type="checkbox" id="step11" name="step11" {% if st11 == '1' %} checked{% endif %}/>
                    <label class="toggle" for="step11"></label>
                    Грамотно <a class="link" href="/termination">завершить</a>
                </li>
            </ul>
            <ul class="todo-pagination">
                <li class="next" style="display: flex;">
                    <button class="btn_send" type="submit" id="btn_send" method="post">Сохранить</button>
                </li>
            </ul>
        </section>
    </form>
</div>
</body>
</html>