<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5YBWK7H6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZE5YBWK7H6');
    </script>
    
    <meta charset="UTF-8">
    <title>Почему Вам стоит начать вести бизнес официально?</title>
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top ">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/todolist">Мой прогресс</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="main" href="main#why">Вернуться в раздел</a>
                </li>
            </ul>
       </div>
    </nav>

<div class="container-fluid article">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: white;">
                <div class="line"></div>
                <h1 class="title1">ПОЧЕМУ ВАМ СТОИТ НАЧАТЬ ВЕСТИ БИЗНЕС ОФИЦИАЛЬНО?</h1>
                <div class="line"></div>
                <p class="text" style="margin-bottom:15px">
                    Не секрет, что многие люди, которые хотели бы заняться предпринимательством встают перед нелегким выбором, оформить свой бизнес легально или же вести бизнес в теневом сегменте. Такой выбор до сих пор стоит и перед многими предпринимателями, которые уже имеют свой бизнес, но по какой-то причине не оформили его в соответствии с законом.
                </p>
                <p class="text">
                    В этой статье мы хотим выделить для Вас основные причины, по которым ведение бизнеса «в открытую» является более перспективным и верным направлением.
                </p>
                <h1 class="title"> Кому будут полезны наши рекомендации? </h1>
                <p class="text"style="margin-bottom:15px">
                    Для начала стоит отметить, что все советы и материалы, которые Вы встретите на нашем сайте прекрасно подойдут некрупным начинающим предпринимателям, которые хотели бы просто и эффективно начать и в дальнейшем развивать своё дело, узнать основные аспекты в вопросах государственной регистрации, ведения и даже прекращения бизнеса.
                </p>
                <p class="text">
                    В дальнейшем на нашем сайте Вы сможете прочитать о том, почему именно ИП и самозанятость как формы ведения бизнеса прекрасно подойдут для того, чтобы начать свое небольшое дело в Интернете, и что помимо регистрации Вам понадобится для успешного предпринимательства.
                </p>
                <h1 class="title">Преимущества официального ведения бизнеса</h1>
                <p class="text"style="margin-bottom:15px">
                <ol class="text" style="text-align: left; text-indent: 0;">
                    <li>
                    <span style="font-weight:600">Законность = ваше спокойствие</span><br>
                        За последние годы тенденция по выявлению нелегального бизнеса заметно выросла. Контроль в виде проверок со стороны налоговых инспекций, прокуратуры и иных надзорных органов за деятельностью малого и среднего бизнеса стал обычным явлением, а средств выявления теневых предпринимателей становится все больше.<br>
                        При этом стоит понимать, что осуществляя нелегальный бизнес в интернете, скрыться от внимания налоговой службы будет еще сложнее.<br>
                        Только за 2019 год в отношении предпринимателей самых разных уровней и видов было выписано более 4 млн. протоколов об административных правонарушениях на сумму более 82 млрд. рублей. Среди одних из самых популярных нарушений – осуществление деятельности без регистрации, без кассового аппарата, без лицензии и так далее.<br>
                        И, конечно же, немаловажным является факт, что за извлечение дохода в крупном размере (свыше 250 тыс. руб.) Вы можете быть привлечены даже к уголовной ответственности.<br>
                        Стоит ли небольшая прибавка к доходу потенциальных потерь в виде огромных штрафов, на которые Вы рано или поздно нарветесь или же ваших нервов. Ну и в заключении стоит сказать, что в случае, если органами надзора будет установлено, что Вы ведете предпринимательскую деятельность незаконно – помимо штрафа Вас обяжут зарегистрироваться в установленном порядке.<br>
                        Таким образом, работая «в черную» Вы рискуете потерять гораздо больше, чем заработать.
                    </li>
                    <li>
                        <span style="font-weight:600">Удобство и простота</span><br>
                        Для многих словосочетание «легальный бизнес» ассоциируется с большим количеством бумаг, документов, беготней по разным органам и инстанциям, но на сегодняшний день для предпринимателей создано большое количество различных служб и сервисов, с помощью которых возможно зарегистрировать свой бизнес, вести учет доходов и расходов, платить установленные законом налоги и сборы, получать налоговый вычет, а также быстро сняться с учета, если Вы решили прекратить предпринимательскую деятельность или перепрофилировать свое дело.<br>
                        В пример можно привести приложения «Мой Налог» для самозанятых или же «личный кабинет индивидуального предпринимателя» для ИП.
                    </li>
                    <li>
                        <span style="font-weight:600">Поддержка от государства</span><br>
                        Только официально зарегистрированный бизнес может рассчитывать на поддержку от государства, в том числе во время экономических кризисов, спадов и потрясений.<br>
                        Например, за 2020 год в связи с пандемией COVID-19 было принято большое количество федеральных и региональных мер поддержки для наиболее пострадавших отраслей малого и среднего предпринимательства, среди которых: Помощь с выплатой заработной платы, помощь с кредитованием, микрозаймы для предпринимателей, отсрочка по налогам и страховым взносам, отсрочка по оплате аренды и многие другие.<br>
                        Помимо указанных программ, существуют и иные программы поддержки. Например, субсидия начинающим предпринимателям.<br>
                        Также предприниматели, работающие легально могут рассчитывать на налоговый вычет.<br>
                        Осуществляя деятельность легально, Вы можете в трудные для экономики времена рассчитывать на своевременную поддержку от государства, чтобы оставаться на плаву.<br>
                    </li>
                </ol>
            </p>
            <p class="text">
                Так, мы перечислили основные аргументу в пользу регистрации своего бизнеса. О том, как это сделать, Вы можете прочитать <a class="link" data-value="main" href="main#start">здесь</a>.
            </p>
            </div>
        </div>
</body>
</html>